<html>
<head><title>{{feed.title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="styles/hfeed.css" media="all" rel="stylesheet" type="text/css" />
<script src="static/fragmention.js"></script>
</head>
<body class="h-feed">
<h1 class="p-name"><a class="u-url" href="{{feed.link}}">{{feed.title}}</a></h1>
<h2 class="p-subtitle">{{feed.subtitle}}</h2>
{% if feed.author_detail %}
<p class="p-author h-card">
{% if feed.image %}
<img src="{{feed.image.href}}" class="u-photo" />
{% endif %}
<a href="{{feed.author_detail.href}}">{{feed.author_detail.name}}</a>
</p>
{% endif %}
{% for entry in entries %}
<article class="h-entry">
<h3 class="p-name"><a class="u-url" href="{{entry.link}}">{% autoescape false %}{{entry.title}}{% endautoescape %}</a></h3>
{% if entry.content %}
<div class="e-content">
{% autoescape false %}
{{entry.content[0].value}}
{% endautoescape %}
{% for link in entry.links %}
{% if link.type == 'audio/mpeg' %}
<p><audio class="u-audio" src="{{link.href}}" controls preload=none ><a href="{{link.href}}">audio</a></audio>
{% endif %}
{% if link.type == 'video/x-m4v' or link.type == 'video/x-mp4' or link.type == 'video/mp4' %}
<p><video class="u-video" src="{{link.href}}" controls preload=none ><a href="{{link.href}}">video</a></video>
{% endif %}
{% endfor %}
</div>
{% else %}
	{% if entry.summary %}
	<div class="e-summary e-content">
	{% autoescape false %}
	{{entry.summary}}
	{% endautoescape %}
	{% for link in entry.links %}
	{% if link.type == 'audio/mpeg' %}
	<p><audio class="u-audio" src="{{link.href}}" controls preload=none ><a href="{{link.href}}">audio</a></audio>
	{% endif %}
	{% endfor %}
	</div>
	{% endif %}
{% endif %}
{% if entry.published %}
<p><time class="dt-published" datetime="{{entry.published}}">Published: {{entry.published}}</time> 
{% endif %}
{% if entry.updated %}
<p><time class="dt-updated" datetime="{{entry.updated}}">Updated: {{entry.updated}}</time> 
{% endif %}
{% if entry.author_detail %}
<p>by <a class="p-author h-card" href="{{entry.author_detail.href}}">{{entry.author_detail.name}}</a>
{% endif %}
</article>
{% endfor %}
{% if raw == 'on' %}
<code>{{feeds}}
<p>{{feed}}
<p>
{{entries}}
</code>
{% endif %}
</body>
</html>