<html>
<head><title>{{feed.title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="styles/hfeed.css" media="all" rel="stylesheet" type="text/css" />
<script src="static/fragmention.js"></script>
</head>
<body class="h-feed">
<h1 class="p-name"><a class="u-url" href="{{feed.link}}">{{feed.title}}</a></h1>
<h2 class="p-summary">{{feed.subtitle}}</h2>
{% if feed.author_detail %}
<p class="p-author h-card">
{% if feed.image %}
<img src="{{feed.image.href}}" class="u-photo" />
{% endif %}
<a href="{{feed.author_detail.href}}">{{feed.author_detail.name}}</a>
</p>
{% endif %}
{% for entry in entries %}
<details class="h-entry" {% if entry.link == entries[0].link %}open{% endif %}>
<summary class="p-name"><a class="u-url" href="{{entry.link}}">{% autoescape false %}{{entry.title}}{% endautoescape %}</a></summary>
<div class="e-content">
{% if entry.summary and entry.content %}
	<span class="e-summary">
	{% autoescape false %}
	{{entry.summary}}
	{% endautoescape %}
	{% if entry.content[0].value.startswith(entry.summary) %}
		{% autoescape false %}
		{{entry.content[0].value.split(entry.summary)[1] }}
		{% endautoescape %}
	{% else %}
		{% autoescape false %}
		{{entry.content[0].value}}
		{% endautoescape %}
	{% endif %}
{% elif entry.content %}
	{% autoescape false %}
	{{entry.content[0].value}}
	{% endautoescape %}
{% elif entry.summary %}
	<span class="e-summary">
	{% autoescape false %}
	{{entry.summary}}
	{% endautoescape %}
	</span>
{% endif %}

{% for link in entry.links %}
	{% if link.type == 'audio/mpeg' or link.type == 'audio/mp3' or link.href.endswith(".mp3") %}
		<p><audio class="u-audio" src="{{link.href}}" controls preload=none ><a href="{{link.href}}">audio</a></audio>
	{% endif %}
	{% if link.type == 'video/x-m4v' or link.type == 'video/x-mp4' or link.type == 'video/mp4' %}
		<p><video class="u-video" src="{{link.href}}" controls preload=none ><a href="{{link.href}}">video</a></video>
	{% endif %}
{% endfor %}
</div>
{% if entry.published %}
<p><time class="dt-published" datetime="{{entry.iso_published}}">Published: {{entry.published}}</time> 
{% endif %}
{% if entry.updated %}
<p><time class="dt-updated" datetime="{{entry.iso_updated}}">Updated: {{entry.updated}}</time> 
{% endif %}
{% if entry.author_detail %}
{% if entry.author_detail.href %}
<p>by <a class="p-author h-card" href="{{entry.author_detail.href}}">{{entry.author_detail.name}}</a>
{% else %}
{% autoescape false %}
by <span class="p-author h-card">{{entry.author_detail.name}}</span>
{% endautoescape %}
{% endif %}
{% endif %}
</details>
<hr>
{% endfor %}
{% if raw == 'on' %}
<code>{{feeds}}
<p>{{feed}}
<p>
{{entries}}
</code>
{% endif %}
</body>
</html>