<html>
<head><title>{{feed.title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="styles/mastoview.css" media="all" rel="stylesheet" type="text/css" />
<script src="static/fragmention.js"></script>
<link rel="stylesheet" href="styles/awesomplete.css" />
<script src="/static/awesomplete.min.js" async></script>
</head>
<body class="h-feed">
<div class="top">    
<form action="/mastoview" method="get">
  <input name="url" class="awesomplete" list="mylist" value="{{domain}}"  data-minchars=1  data-maxitems=20/>
	<datalist id="mylist">
	{% for instance in instances %}
	  <option>{{instance["name"]}}</option>
	{% endfor %}
	</datalist>      
  <select name="view">
    <option value="local" {% if view=="local" %}selected {% endif %}>Local</option>
    <option value="federated" {% if view=="federated" %}selected {% endif %}>Federated</option>
  </select>
  <button type="submit" value="preview">Preview</button>
</form>
<h1 class="p-name"><a class="u-url" href="{{feed.url}}">{{feed.name}}</a></h1>
</div>
<div class="entries">
{% for entry in entries %}
<div  class="h-entry entry">
<div class="p-author h-card header">
<img src="{{entry.account.avatar}}" class="u-photo" />
<a class="p-name" href="{{entry.account.url}}">{{entry.account.display_name or entry.account.username}}</a> @<span class="p-nickname">{{entry.account.acct}}</span> 
</div>
{% if entry.spoiler_text!="" %}
<details>
<summary class="p-summary">{% autoescape false %}{{entry.spoiler_text}}{% endautoescape %}</summary>
{% endif %}

<div class="e-content content">
{% if entry.content %}
	{% autoescape false %}
	{{entry.content}}
	{% endautoescape %}
{% endif %}
</div>
{% for media in entry.media_attachments %}
<figure ><img class="u-photo" src="{{media.preview_url}}" /></figure>
{% endfor %}
{% if entry.spoiler_text!="" %}
</details>
{% endif %}
<div class="footer"><a class="u-url" href="{{entry.url}}"><time class="dt-published" datetime="{{entry.created_at}}">{{entry.humancreated}}</time></a></div> 
</div>
{% endfor %}
</div>
</body>
</html>