<html>
<head><title>{% if item %}{{" ".join(item.properties.name)}}{% else %}Indiecard{% endif %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="styles/hfeed.css" media="all" rel="stylesheet" type="text/css" />
<link href="styles/indiecard.css" media="all" rel="stylesheet" type="text/css" />
<script src="static/fragmention.js"></script>
</head>
<body>
<header>
      <form action="/indiecard" method="get">
      <input name="url" type="url" placeholder="get card for url" />
      <input type="submit" value="show indiecard" class="hidden"/>
    </form>
</header>
<main>
{% for item in items %}
<div class="{{item.type[0]}} indiecard">
<h1 >{% if item.properties.photo %}
<a class="figure" href="{{url}}"><img src="{{item.properties.photo[0]}}" class="u-photo" /></a>
{% elif item.properties.featured %}
<a class="figure" href="{{url}}"><img src="{{item.properties.featured[0]}}" class="u-featured" /></a>
{% endif %}
<a class="u-url p-name"" href="{{url}}">{{" ".join(item.properties.name)}}</a></h1>
{% if item.properties.author %}
    {% if item.properties.author[0].properties %}
    <h3 class="p-author h-card">{% if item.properties.author[0].properties.photo %}<img src="{{item.properties.author[0].properties.photo[0]}}" class="u-photo" />{% endif %}{% if item.properties.author[0].properties.url %}<a class="u-url p-name"" href="{{item.properties.author[0].properties.url[0]}}">{{item.properties.author[0].properties.name[0]}}</a>{% else %}{{item.properties.author[0].properties.name[0]}}{% endif %}</h3>
    {% else %}
    <h3 class="p-author">{{item.properties.author[0]}}</h3>
    {% endif %}
{% endif %}
{% if item.properties.summary %}
<h2 class="p-summary">{{" ".join(item.properties.summary)}}</h2>
{% endif %}
{% if item.properties.ingredient %}
<h3>Ingredients</h3>
<ul>
{% for food in item.properties.ingredient %}<li class="p-ingredient">{{food}}{% endfor %}
</ul>
{% endif %}
{% if item.properties.instructions %}
<h3>Method</h3>
<ol>
{% autoescape false %}
{% for stage in item.properties.instructions %}<li class="p-instructions">{{stage["html"] or stage}}{% endfor %}
{% endautoescape %}
</ol>
{% endif %}
{% if item.properties.note %}
{% if item.properties.note[0].html %}
{% autoescape false %}
<h2 class="e-note">{{item.properties.note[0].html}}</h2>
{% endautoescape %}
{% else %}
<h2 class="p-note">{{" ".join(item.properties.note)}}</h2>
{% endif %}
{% endif %}
</div>
{% endfor %}
</main>
<footer>
{%if items %}<details><summary>raw</summary><code>{{items}}</code></details>{% endif %}
</footer>
</body>
</html>