[fragmention] { background-color: gold; outline: 0.375em solid gold; }
body {font-family: "Hoefler Text", Georgia, serif; background-color: white; max-width: 40em;}
.h-card, .webmention-author { font-family: "Gill Sans", Roboto,Verdana, sans-serif; }
h1,h2,h3,summary,dt { font-family: "Gill Sans", Roboto,Verdana, sans-serif; font-weight: bold;}
.h-card .u-photo {height:2em;}
.figure img {max-width:100%;}
img,audio,video {max-width:100%;}
img,audio,video {max-width:100vw;}
blockquote.auto-mention {font-size:.9em; border: 1px solid lightgray; border-radius: 4px; max-width: 25em; padding: .9em; }
blockquote.auto-mention cite {font-style:normal; font-weight:bold;}
blockquote.auto-mention p {margin:0;}
blockquote.auto-mention a {text-decoration:none; color:black;}

.u-photo {maxwidth:100%;}
.indiecard {border: 1px solid lightgray; border-radius: 4px; max-width: 25em; padding: .9em; }
.indiecard.figure {float:left; width 50%;}

