body {margin:0; font-family: "Gill Sans", Roboto,Verdana, sans-serif;}
.indiecard { display: -webkit-flex; display:flex;
            -webkit-flex-direction: column; flex-direction: column;
            -webkit-align-items: stretch; align-items: stretch;
            margin:0; width:100%; height:100%; padding: 0; overflow:hidden;
            font-size:3vw;
            }
.u-banner {height:30vh;}
.u-banner img {width:100%; height:100%; object-fit: cover;}
h1 {display: -webkit-flex; display:flex; 
    -webkit-align-items:center; align-items:center;
    font-size:20vh; margin:0;height:25vx;
    }
text {font-size:20vh;}
a { text-decoration:none;}
.figure {-webkit-flex-grow:1; flex-grow:1; }
.u-photo {width:100%; max-height:100%; object-fit: contain;
        }
.p-name {-webkit-flex-grow:4; flex-grow:4; }
h2 { 
    font-weight: 300; margin:0; 
    font-size:6vw;
    height:20vh;}
.h-entry {height:20vh;margin-left: 10vw;}
h3 { 
    font-weight: 400; margin:0; 
    font-size:5vw;
    height:15vh; overflow:hidden;}
